body {
	font-family: 'Overpass', sans-serif;

}

* {
  box-sizing: border-box;
}

section:not([id]) {
  margin: 1em 0;
  padding: 1.5em 2em;
  background-color: #f2f2f2;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

.code-block { /*border style taken from: http://www.w3schools.com/css/css_border.asp*/
  width: 100%;
  display: block;
  padding: 1em 1em;
  background-color: #fff;
  border-style: ridge;
  border-color: #ccc;
}

/* ------------------------
	 INTERACTIVE ELEMENTS 
	----------------------- */

/* DEFAULT BUTTON */

.button-default {
	display: inline-block;
	padding: 0.7rem 2rem;
	color: #FFF;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #efb99f;
	border: none;
	border-radius: 0.5rem;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button-default:hover, .button-default:focus {
	background-color: #be7f6b;
	color: #FFF;
}

/* DEFAULT IN-TEXT LINK */
a {
	color: #be7f6b;
	text-decoration: none;
  	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

a:hover, a:focus {
	color: #be7f6b;
	text-decoration: underline;
}

/* DEFAULT LABEL */

label {
	font-weight: 500;
	color: #be7f6b;
}

input[type=text] {
	width: 100%;
	padding: 1rem 1rem;
	margin: 0.5rem 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	font-weight: 400;
	font-size: 1em;
	color: #404041;
}

input[type=text]:focus {
	outline-width: 0; /*taking away blue border when focus from: http://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
	border: 2px solid #efb99f;
}

/* SUBMIT & RESET BUTTON */
.button-submit {
	display: inline-block;
	padding: 0.7rem 2rem;
	color: #FFF;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border-radius: 0.5rem;
	background-color: #efb99f;
	border: none;
	text-decoration: none;
	 -webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button-submit:hover, .button-submit:focus {
	background-color: #be7f6b;
	color: #fff;
	text-decoration: none;
}

.button-reset {
	display: inline-block;
	padding: 0.7rem 2rem;
	color: #efb99f;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 1px solid;
	border-radius: 0.5rem;
	background-color: transparent;
	border-color: #efb99f;
	text-decoration: none;
	-webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button-reset:hover, .button-reset:focus {
	background-color: #efb99f;
	color: #fff;
	text-decoration: none;
}


/* ----------------
	 TEXT ELEMENTS
	--------------- */

h1 {
	font-weight: 700;
	font-size: 36px;
	color: #BE7F6B;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.para {
	font-weight: 300;
	letter-spacing: 0.5px;
	max-width: 400px;
	font-size: 14px;
}
